* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: DidactGothic-Regular;
    font-size: 18px;
    margin: 0;
    padding: 0;
}